#et-status-bar,
#et-menu {
    overflow: hidden;
    margin: 12px;
    height: 24px
}

#click-all,
#fav-all {
    ma text-decoration: none;
    outline: 0;
    width: 94px;
    height: 24px;
    border: none;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer
}

#click-all {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid #2196f3;
    background-color: #2196f3
}

#click-all:hover {
    background-color: #52ACF3
}

#fav-all {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid #f44336;
    background-color: #f44336
}

#fav-all:hover {
    background-color: #F47066
}

#et-bar {
    -webkit-user-select: none;
    width: 100%;
    height: 50px;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 10000;
    background-color: #fff;
    border-bottom: 1px solid #E2E2E2
}

#et-bar-container {
    width: 980px;
    margin: 0 auto
}

#et-counter {
    width: 190px;
    float: left;
    font-size: 20px;
    margin: 10px
}

#et-status-bar {
    background: #eee;
    border: 1px solid grey;
    border-radius: 5px;
    width: 530px;
    float: left
}

#et-status-list {
    list-style-type: none;
    text-align: center;
    font-size: 12px;
    line-height: 20px
}

#et-menu {
    float: right;
}

#hearts-container {
    line-height: 28px
}

.hearts {
    margin: 0 3px 0 15px
}

#et-hearts-timer {
    border: 2px dashed grey;
    border-radius: 50%;
    background: #eee;
    line-height: 25px;
    font-size: 11px;
    font-weight: 700;
    width: 27px;
    height: 27px;
    text-align: center;
    display: block;
    float: left
}

#et-hearts-timer:after {
    content: 'm';
    font-size: 9px;
}

.hearted {
    color: #ED2121;
}

#et-here-btn,
#et-done-btn,
#et-outhearts-btn {
    outline: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    margin-bottom: 8px;
    padding: 5px 0px;
    font-weight: bold;
}

#et-here-btn,
#et-done-btn {
    width: 67px;
}

#et-outhearts-btn {
    width: 134px;
    background-color: #999999;
    border: 1px solid #999999;
    border-radius: 3px;
}

#et-outhearts-btn:hover {
    background-color: #B3B3B3;
}

#et-here-btn {
    background-color: #ff9800;
    border: 1px solid #ff9800;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#et-here-btn:hover {
    background-color: #FFAD33;
}

#et-done-btn {
    background-color: #13CD13;
    border: 1px solid #13CD13;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#et-done-btn:hover {
    background-color: #5DE85D;
}
